@charset "UTF-8";

body {
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(255, 0, 242);
    background-color: rgb(172, 171, 250);
}

h2 {
    color: rgb(21, 255, 0);
}

p {
    text-align: justify;
}@